<html>
  <head>
    <!-- *META* -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <title> <%= title %> </title>
    <!-- *CSS* -->
    <%- include('../partials/css-common') %>
    <!-- build:css build/main.min.css -->
    <!-- endbuild -->
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/sidebar') %>
    <div class="content" style="background: white;">
      Chart Page
      <div class="ct-chart m-chart-1"></div>
      <div class="ct-chart m-chart-2"></div>
    </div>
    <!-- *JS* -->
    <%- include('../partials/js-common') %>
    <script src="js/src/chartPage.js" ></script>
  </body>
</html>