<html>
  <head>
    <!-- *META* -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <title> <%= title %> </title>
    <!-- *CSS* -->
    <%- include('../partials/css-common') %>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/sidebar') %>
    <div class="content" id="mapRegion" >
      Node Summary
    </div>
    <!-- *JS* -->
    <%- include('../partials/js-common') %>
  </body>
</html>