<html>
  <head>
    <!-- *META* -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
    <title> <%= title %> </title>
    <!-- *CSS* -->
    <%- include('../partials/css-common') %>
    <!-- build:css build/node-detail.min.css -->
    <link rel="stylesheet" type="text/css" href="css/node-detail.css">
    <!-- endbuild -->

  </head>
  <body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/sidebar') %>
    <div class="content" id="mapRegion" >
      <div class="sideView" >
      </div>
      <div class="contentView">
        contentView
      </div>
    </div>
    <!-- *JS* -->
    <%- include('../partials/js-common') %>'
    <!-- build:js build/node-detail.min.js -->
    <script src="js/src/node-detail.js" ></script>
    <!-- endbuild -->
  </body>
</html>